*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}
body{
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/Bus.jpg);
     background-position: center;
    background-size: auto;
}
header{
    width:100%;
    height:80px;
    background: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 100px;
    
}
header h2{
    color: white;
}
header h2 span{
    color: orange;
}
.humberger{
    display: none;
}
.navigation ul{
    display: flex;
}
.navigation ul li a{
    display: block;
    color:#fefefe;
    font-size:20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.5s;
    margin:0 5px;
}
.navigation ul  button{
        padding: 10px;
        border: none;
        color:black;
        background: white;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 6.4px;
        margin: 4px 2px;
    }
   
.navigation ul i{
     margin-top: 25px;
     margin-left: 10px;
}
.navigation ul li a:hover{
    background: #fefefe;
    color:black
}
.navigation ul li a.active{
    color:black;
    background: #fefefe;
}
.home section {
  background: transparent;
    text-align: center;

}
.home section img{
    background-color: black;
}
.home section a{
    display: block;
    color:black;
    font-size:20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.5s;
    margin:0 5px;
}
.home section a:hover{
    background: white;
    color:black
}
@media only screen and (max-width:1320px){
    header{
        padding:0 50px;
    }
}
@media only screen and (max-width:1100px){
    header{
        padding:0 30px;
    }
}
@media only screen and (max-width:770px){
    .humberger {
    display: block;
    color: #fefefe;
    }
    .navigation{
        height: 0;
        position: absolute;
        top:80px;
        left:0;
        right:0;
        width:100vw;
        background:#11101b;
        transition:0.5;
        overflow: hidden;
    }
    .navigation ul{
        display: block;
        width: fit-content;
        margin:80px auto 0 auto;
        text-align: center;
        opacity: 0;
    }
    .navigation ul li a{
        margin-bottom: 10px;
    }
}
/*footer*/
footer{
    background: #11101b;
    color:#fefefe;
    height: 150px;
    display:flex;
    position: relative;
    top: 900;
    justify-content: space-between;
}


.col ul a {
  color:#fefefe;
  padding: 10px;
}
@media screen and (min-width:700px){
    footer{
        flex:1;
    }
    .col5 h3{
        margin:10px;
    }
   
    footer{
        padding: 15px;
    }
    #sectionlg{
    position: relative;
    top:20px;
    }

}
.Sign-Up{
    width: 360px;
    height: 610px;
    margin: auto;
    background-color: white;
    border-radius: 4px;
}

h1{
    text-align: center;
    padding-top: 15px;
}

h4{
    text-align: center;
}

form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 19px;
}

form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
}

input[type='submit']{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    background-color: #49c1a2;
    border-radius: none;
    color: aliceblue;
    font-size: 18px;

}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.last{
    text-align: center;
    color: aliceblue;
    font-size: 15px;
    margin-top: -10px;
}

.last a{
    color: #49c1a2;

}