*{
    text-decoration: none;
    background: gray;
}
legend{
    font-size: 55px;
    font-weight: 780;
}
fieldset{
    text-align: center;
    
}
iframe{
width:100%;
 text-align: center;
}
.button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background: rgb(117, 63, 63);
   
}
a{
    color:black;
    background:  rgb(117, 63, 63);;
}
.second{
    text-align: left;
    text-decoration: underline;
}